<!DOCTYPE html>
<html>
  <head>
    <title>Datathon FME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1 class="mb-4">Welcome to the Datathon FME</h1>
      <p class="mb-5">Join us in this exciting event! Register yourself or find a group to collaborate with.</p>
      <div>
        <a href="inscription" class="btn btn-primary btn-lg mx-2">Inscription</a>
        <a href="matchmaking_html" class="btn btn-secondary btn-lg mx-2">Find a Group</a>
      </div>
    </div>
  </body>
</html>
