<!DOCTYPE html>
<html>
  <head>
    <title>Datathon FME - Matchmaking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles.css"> <!-- Include shared.css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1 class="mb-4">Matchmaking</h1>
      <p class="mb-5">This is the matchmaking page. We are waiting for enough users to be connected to start matchmacking.</p>
      <div id="connected_users_count">Connected users: 0/3</div>

      <a href="/" class="btn btn-secondary btn-lg">Go Back</a>
    </div>
    <script src="/script_matchmaking"></script>
  </body>
</html>
